body {
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/0c/43/15/0c4315f0d65723472475a9147a5b7592.jpg);
  background-size: cover;
  overflow: hidden;
  height: 100%;
  font-size: 20px;
  font-family: Arial;
  // /* Controls size of dot */
  // background-image: radial-gradient(#3b4e57 5%, #001a29 0%);

  // /* Controls Spacing, First value will scale width, second, height between dots */
  // background-size: 2% 4%;
  align-items: stretch;

  // min-width: 1280px;
}
.class-card-shadow {
  box-shadow: rgba(0, 0, 0, 0.5) -2px -2px 3px !important;
}
.deck-shadow:nth-child(1) {
  @extend .class-card-shadow;
}
.deck-wrapper {
  position: relative;
  margin: 40px;
  & > * {
    position: absolute;
    @extend .deck-shadow;
  }
}
.hand-area-wrapper {
  display: flex;
  margin: 40px 80px;
  & > * {
    animation: scaling 400ms;
  }
}
@keyframes scaling {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.players-area-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: fit-content;
  gap: 40px;
  flex: 1;
}
.standoff-area-wrapper {
  display: flex;
}
:root {
  // height: 100vh;
  width: 100%;
  background-color: blue;
  // min-height: 750px;
  // min-width: 1280px;
  //--theme-color: #ff0083; /* you can use css-variables if you'd like */
}

//colours pallete
// $white: #fff;
// $black: #000;
// $disabled: #d8d8d8;
// $orange-primary: #f36a22;
// $dark-orange: #eb6931;
// $orange-secondary: #fcd9c6;
// $orange-bg: #fef4ee;
// $turquoise-primary: #22bcbe;
// $turquoise-secondary: #b4e8e9;
// $turquoise-bg: $white;
// $error: #f0585b;
// $red: #ef4144;
// $green: #3dc483;
// $yellow: #e5ba4d;
// $font-colour-black: $black;
// $font-colour-gray: $disabled;
// $font-colour-dark-gray: #a8a8a8;
// $font-colour-white: $white;
// $font-colour-light-gray: #cbcbcb;
// $font-colour-disabled: #767676;
// $bg-colour-blue: #1c476d;
// $bg-colour-light-blue: #6bb4f5;
// $bg-colour-dark-blue: #29313e;
// $bg-colour-gray: #ecf0f5;
// $bg-colour-light-gray: #f9f9f9;
// $bg-colour-white: $white;
// $bg-colour-disabled: $disabled;
// $bg-colour-sidebar: #32343c;
// $border-colour-gray: #c9c9c9;
// $border-colour-table-gray: #d6d6d6;
// $border-colour-sidebar: #22bcbe4a;
// $no-padding: 0;
// $padding-auto: auto;
// $padding-2-point-5-rem: 2.25rem;
// $padding-point-7-rem: 0.7rem;

// $no-margin: 0;
// $margin-auto: auto;
// $margin-10-rem: 10rem;
// $margin-5-rem: 5rem;
// $margin-4-rem: 4rem;
// $margin-2-point-5-rem: 2.5rem;
// $margin-1-point-55-rem: 1.55rem;
// $margin-1-point-5-rem: 1.5rem;
// $margin-point-5-rem: 0.5rem;
// $margin-0-point-3-rem: 0.3rem;

// $twenty-three: px2rem(23px);
// $twenty: px2rem(20px);
// $nineteen: px2rem(19px);
// $eighteen: px2rem(18px);
// $sixteen: px2rem(16px);
// $fifteen: px2rem(15px);
// $fourteenAndHalf: px2rem(14.5px);
// $fourteen: px2rem(14px);
// $thirteen: px2rem(13px);
// $width-desktop-large: 1920px;
// $width-desktop: 1366px;
// $width-tablet: 768px;

// $min-width: 1280px;
// $min-height: 750px;

// $size-100: 100%;
// $size-95: 95%;
// $size-90: 90%;
// $size-88: 88%;
// $size-85: 85%;
// $size-80: 80%;
// $size-75: 75%;
// $size-70: 70%;
// $size-65: 65%;
// $size-60: 60%;
// $size-50: 50%;
// $size-45: 45%;
// $size-40: 40%;
// $size-35: 35%;
// $size-30: 30%;
// $size-27: 27%;
// $size-25: 25%;
// $size-20: 20%;
// $size-15: 15%;
// $size-10: 10%;
// $size-20-rem: 20rem;
// $size-15-rem: 15rem;
// $size-12-rem: 12rem;
// $size-10-rem: 10rem;
// $size-8-rem: 8rem;
// $size-250-px: 15.625rem;
// $size-13-rem: 13rem;
// $size-45-px: 2.8125rem;
// $size-2-point-5-rem: 2.5rem;
// $size-point-9-rem: 0.9rem;
// $size-point-85-rem: 0.85rem;

// .class-flex,
// .class-column,
// .class-wrap {
//     display: flex;
// }

// .class-wrap {
//     flex-wrap: wrap;
// }

// .class-overflow-auto {
//     overflow: auto;
// }

// .class-overflow-visible {
//     overflow: visible;
// }

// .class-inline-block {
//     display: inline-block;
// }

// .class-flex-1 {
//     flex: 1;
// }

// .class-flex-4 {
//     flex: 4;
// }

// .class-flex-and-flex-1 {
//     @extend .class-flex;
//     @extend .class-flex-1;
// }

// .class-align-items-center {
//     align-items: center;
// }

// .class-align-items-start {
//     align-items: flex-start;
// }

// .class-justify-content-center {
//     justify-content: center;
// }

// .class-centered-vertically-and-horizontally {
//     @extend .class-align-items-center;
//     @extend .class-justify-content-center;
// }

// .class-flex-centered-vertically-and-horizontally {
//     @extend .class-flex;
//     @extend .class-centered-vertically-and-horizontally;
// }

// .class-column {
//     flex-direction: column;
// }

// .class-h-tag {
//     font-weight: normal;
//     line-height: 1.2;
//     letter-spacing: normal;
//     text-align: left;
//     margin-bottom: $margin-point-5-rem;
// }

// .class-space-around {
//     justify-content: space-around;
// }

// .class-space-between {
//     justify-content: space-between;
// }

// .class-row-space-around {
//     @extend .class-flex;
//     @extend .class-space-around;
// }

// .class-row-space-between {
//     @extend .class-flex;
//     @extend .class-space-between;
// }

// .class-no-shadow {
//     box-shadow: none !important;
// }

// .class-flat-disabled {
//     color: $font-colour-disabled !important;
// }

// .class-disabled {
//     color: $white !important;
//     background-color: $font-colour-gray !important;
// }

// .class-opacity-half {
//     opacity: 0.5;
// }

// .class-opacity-point-8 {
//     opacity: 0.8;
// }

// .class-animation-fade-in {
//     animation: fx-fadeIn 2s ease-in-out;
// }

// .class-animation-height {
//     transition: height 100ms ease-in-out;
// }

// .class-hover-pointer :hover {
//     cursor: pointer;
// }

// @keyframes fx-fadeIn {
//     0% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 1;
//     }
// }

// .class-absolute {
//     position: absolute;
// }

// .class-relative {
//     position: relative;
// }

// .class-ellipsis {
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }

// .class-disable-last-border :last-child td {
//     border-bottom: 0;
// }

// .class-underline {
//     text-decoration: underline;
// }

// .class-background-white {
//     background-color: $white;
// }

// .class-font-size-twenty {
//     font-size: $twenty;
// }

// .class-font-family-opensans {
//     font-family: globals(font-type-secondary);
// }

// .class-triangle {
//     position: absolute;
//     content: '';
//     width: 0;
//     height: 0;
//     top: 48%;
//     border-bottom: 1.3rem solid transparent;
//     border-top: 1.3rem solid transparent;
//     border-left: 1.3rem solid;
// }

// .class-side-tooltip-border-bg {
//     background-color: var(--bg-colour);
//     border: 0.1rem solid var(--border-colour);
// }

// .class-right-triangle::before {
//     @extend .class-triangle;

//     right: -3.9%;
//     border-left-color: $border-colour-sidebar;
// }

// .class-right-triangle::after {
//     @extend .class-triangle;

//     right: -3.5%;
//     border-left-color: $bg-colour-sidebar;
// }

// .class-font-colour-orange-primary {
//     color: $orange-primary !important;
// }

// .class-font-colour-gray {
//     color: $font-colour-dark-gray !important;
// }

// .class-font-colour-white {
//     color: $white !important;
// }

// .class-no-padding {
//     padding: $no-padding !important;
// }

// .class-no-padding-right {
//     padding-right: $no-padding !important;
// }

// .class-padding-auto {
//     padding: $padding-auto;
// }

// .class-no-padding-top-bottom {
//     padding-top: $no-padding !important;
//     padding-bottom: $no-padding !important;
// }

// .class-padding-top-point-7-rem {
//     padding-top: $padding-point-7-rem !important;
// }

// .class-padding-bottom-point-7-rem {
//     padding-bottom: $padding-point-7-rem !important;
// }

// .class-padding-left-2-point-5-rem {
//     padding-left: $padding-2-point-5-rem !important;
// }

// .class-padding-right-2-point-5-rem {
//     padding-right: $padding-2-point-5-rem !important;
// }

// .class-padding-left-right-2-point-5-rem {
//     @extend .class-padding-left-2-point-5-rem;
//     @extend .class-padding-right-2-point-5-rem;
// }

// .class-padding-top-bottom-point-7-rem {
//     @extend .class-padding-top-point-7-rem;
//     @extend .class-padding-bottom-point-7-rem;
// }

// .class-no-margin-no-padding {
//     @extend .class-no-padding;
//     @extend .class-no-margin;
// }

// .class-no-margin {
//     margin: $no-margin;
// }

// .class-margin-auto {
//     margin: $margin-auto;
// }

// .class-no-margin-top-bottom {
//     margin-top: $no-margin;
//     margin-bottom: $no-margin;
// }

// .class-margin {
//     @extend .class-margin-left-right-5-rem-only;
//     @extend .class-margin-top-bottom-1-point-55-rem;
// }

// .class-margin-top-2-point-5 {
//     margin-top: $margin-2-point-5-rem;
// }

// .class-margin-top-1-point-55 {
//     margin-top: $margin-1-point-55-rem;
// }

// .class-margin-top-1-point-5 {
//     margin-top: $margin-1-point-5-rem;
// }

// .class-margin-bottom-2-point-5 {
//     margin-bottom: $margin-2-point-5-rem;
// }

// .class-margin-bottom-point-5 {
//     margin-bottom: $margin-point-5-rem;
// }

// .class-margin-bottom-1-point-55 {
//     margin-bottom: $margin-1-point-55-rem;
// }

// .class-margin-top-bottom-2-point-5 {
//     @extend .class-margin-top-2-point-5;
//     @extend .class-margin-bottom-2-point-5;
// }

// .class-margin-left-10-rem {
//     margin-left: $margin-10-rem;
// }

// .class-margin-left-5-rem {
//     margin-left: $margin-5-rem;
// }

// .class-margin-left-2-point-5-rem {
//     margin-left: $margin-2-point-5-rem;
// }

// .class-margin-left-point-5-rem {
//     margin-left: $margin-point-5-rem !important;
// }

// .class-margin-left-right-5-rem-only {
//     @extend .class-no-margin-top-bottom;
//     @extend .class-margin-left-right-5-rem;
// }

// .class-margin-right-5-rem {
//     margin-right: $margin-5-rem;
// }

// .class-margin-right-4-rem {
//     margin-right: $margin-4-rem;
// }

// .class-margin-right-2-point-5 {
//     margin-right: $margin-2-point-5-rem;
// }

// .class-margin-right-point-5-rem {
//     margin-right: $margin-point-5-rem !important;
// }

// .class-margin-left-right-5-rem {
//     @extend .class-margin-left-5-rem;
//     @extend .class-margin-right-5-rem;
// }

// .class-margin-left-right-2-point-5-rem {
//     @extend .class-margin-left-2-point-5-rem;
//     @extend .class-margin-right-2-point-5;
// }

// .class-margin-top-bottom-1-point-55-rem {
//     @extend .class-margin-top-1-point-55;
//     @extend .class-margin-bottom-1-point-55;
// }

// .class-margin-0-point-3-rem {
//     margin: $margin-0-point-3-rem !important;
// }
// $remSize: 16px;

// @function px2rem($pixSize) {
//     @return (1rem * $pixSize) / $remSize;
// }

// .class-width-100 {
//     width: $size-100;
// }

// .class-width-80 {
//     width: $size-80;
// }

// .class-width-75 {
//     width: $size-75;
// }

// .class-width-50 {
//     width: $size-50 !important;
// }

// .class-width-45 {
//     width: $size-45 !important;
// }

// .class-width-40 {
//     width: $size-40 !important;
// }

// .class-width-30 {
//     width: $size-30 !important;
// }

// .class-width-27 {
//     width: $size-27 !important;
// }

// .class-width-25 {
//     width: $size-25 !important;
// }

// .class-max-width-70 {
//     max-width: $size-70;
// }

// .class-max-width-20-rem {
//     max-width: $size-20-rem;
// }

// .class-max-width-15-rem {
//     max-width: $size-15-rem;
// }

// .class-max-width-10-rem {
//     max-width: $size-10-rem;
// }

// .class-height-100 {
//     height: $size-100;
// }

// .class-height-90 {
//     height: $size-90 !important;
// }

// .class-height-85 {
//     height: $size-85;
// }

// .class-height-80 {
//     height: $size-80;
// }

// .class-height-75 {
//     height: $size-75 !important;
// }

// .class-height-70 {
//     height: $size-70;
// }

// .class-height-65 {
//     height: $size-65;
// }

// .class-height-60 {
//     height: $size-60;
// }

// .class-height-50 {
//     height: $size-50;
// }

// .class-height-45 {
//     height: $size-45;
// }

// .class-height-40 {
//     height: $size-40;
// }

// .class-height-35 {
//     height: $size-35;
// }

// .class-height-30 {
//     height: $size-30;
// }

// .class-height-15 {
//     height: $size-15;
// }

// .class-height-10 {
//     height: $size-10;
// }

// .class-height-45-px {
//     height: 2rem !important;
// }

// .class-text-field-height-2-point-5-rem div {
//     height: $size-2-point-5-rem;
// }

// .class-line-height-2-point-5-rem {
//     line-height: $size-2-point-5-rem;
// }

// .class-td-line-height-0-point-9-rem td {
//     line-height: $size-point-9-rem;
// }

// .class-width-and-height-95 {
//     width: $size-95 !important;
//     height: $size-95 !important;
// }

// .class-width-height-full {
//     @extend .class-width-100;
//     @extend .class-height-100;
// }

// .class-width-height-99-point-6 {
//     width: 99.6%;
//     height: 99.6%;
// }

// $theme: (
//     rem-size: $remSize,
//     primary-colour: $orange-primary,
//     primary-light-colour: $orange-secondary,
//     primary-dark-colour: $dark-orange,
//     secondary-colour: $turquoise-primary,
//     secondary-light-colour: $turquoise-secondary,
//     awareness-poor-error: $red,
//     awareness-average: $yellow,
//     awareness-strong-correct: $green,
//     font-colour-disabled: $font-colour-gray,
//     font-colour-white: $white,
//     font-colour-error: $error,
//     font-colour-black: $font-colour-black,
//     font-colour-label: $font-colour-black,
//     font-colour-table-head: $font-colour-light-gray,
//     font-size-headline: $twenty-three,
//     font-size-title: $nineteen,
//     font-size-sub-header: $fifteen,
//     font-size-body-1: $eighteen,
//     font-size-body-2: $fifteen,
//     font-size-body-3: $sixteen,
//     font-size-caption: $fourteen,
//     font-size-button: $thirteen,
//     font-size-icon: $twenty,
//     font-type: 'Lato',
//     font-type-secondary: 'OpenSans',
//     bg-colour-root: $bg-colour-gray,
//     bg-colour-paper: $bg-colour-white,
//     bg-colour-disabled-icon: $bg-colour-disabled,
//     bg-colour-disabled-input: $bg-colour-disabled,
//     bg-colour-blue-navigation: $bg-colour-blue,
//     bg-colour-gray-button: $bg-colour-light-gray,
//     bg-colour-sidebar: $bg-colour-sidebar,
//     width-88-button: $size-12-rem,
//     width-button: $size-8-rem,
//     min-height-table: $size-13-rem,
//     max-height-table: $size-250-px,
//     border-colour-avatar: $border-colour-gray,
//     border-colour-table-gray: $border-colour-table-gray,
//     border-colour-sidebar: $border-colour-sidebar
// );

// :export {
//     @each $key, $value in $theme {
//         #{unquote($key)}: $value;
//     }
// }

// @function globals($key) {
//     @if map-has-key($theme, $key) {
//         @return map-get($theme, $key);
//     }

//     @warn "Unknown `#{$key}` in $theme";

//     @return null;
// }

// html {
//   ::-webkit-scrollbar {
//       width: 10px;
//   }

//   ::-webkit-scrollbar-thumb {
//       background-color: #9ea5b9 !important;
//       border-radius: 5px;
//   }

//   body {
//       @extend .class-flex;
//       @extend .class-height-100;
//       @extend .class-no-margin-no-padding;

//       align-items: stretch;
//       background-color: globals(bg-colour-root);
//       color: globals(font-colour-black);
//       min-width: $min-width;

//       ::-webkit-scrollbar {
//           width: 4px !important;
//       }

//       #root {
//           @extend .class-flex-and-flex-1;
//           @extend .class-centered-vertically-and-horizontally;
//           @extend .class-column;
//           @extend .class-width-100;

//           height: 100vh;
//           min-height: $min-height;
//            /* Controls size of dot */
//     background-image: radial-gradient(#3b4e57 5%, #001a29 0%);

//     /* Controls Spacing, First value will scale width, second, height between dots */
//     background-size: 2% 4%;
//       }
//   }
//   .stand{
//     width:100%
//   }

//   @media (max-width: 1300px) {
//       font-size: 0.75 * $remSize !important;
//   }

//   @media (min-width: 1300px) and (max-width: 1500px) {
//       font-size: 0.8 * $remSize !important;
//   }

//   @media (min-width: 1500px) and (max-width: 1680px) {
//       font-size: 0.9 * $remSize !important;
//   }

//   @media (min-width: 1680px) {
//       font-size: $remSize !important;
//   }
// }

// h1,
// h2,
// h3,
// h4,
// h5 {
//     @extend .class-h-tag;
// }

// html body {
//     font-family: globals(font-type);
// }

// h1 {
//     font-size: globals(font-size-headline);
// }

// h2 {
//     font-size: globals(font-size-title);
// }

// h3 {
//     font-size: globals(font-size-body-1);
// }

// h4 {
//     font-size: globals(font-size-body-2);
// }

// h5 {
//     font-size: globals(font-size-body-2);
// }

// .font-caption {
//     font-size: globals(font-size-caption) !important;
// }

// .wrapper-column,
// .wrapper-root {
//     @extend .class-flex;
//     @extend .class-width-100;
// }

// .wrapper-column {
//     @extend .class-column;
// }

// .wrapper-root {
//     @extend .class-centered-vertically-and-horizontally;
//     @extend .class-width-and-height-95;
// }

// .container-width-height-88-margin-auto {
//     @extend .class-margin-auto;
//     @extend .class-height-90;

//     width: $size-88 !important;
// }

// .card-content {
//     @extend .wrapper-column;
//     @extend .class-width-height-full;
//     @extend .class-no-padding-top-bottom;
//     @extend .class-padding-left-right-2-point-5-rem;
// }

// .card-header {
//     @extend .class-flex-and-flex-1;
//     @extend .class-align-items-center;
// }

// .card-body {
//     flex: 8.2;
// }

// .sub-title {
//     @extend .class-margin-left-point-5-rem;

//     opacity: 0.5;
// }

// .input-large {
//     width: $size-50;
// }

// .input-width-20 {
//     width: $size-20;
// }

// .input-small {
//     @extend .input-width-20;
// }

// .actions {
//     @extend .class-flex;
//     @extend .class-column;

//     .MuiCardActions-spacing {
//         height: $size-15;
//         justify-content: flex-end;
//     }

//     .MuiDialogActions-spacing {
//         @extend .class-margin-right-4-rem;
//     }
// }

// .input-small .MuiOutlinedInput-input {
//     @extend .class-padding-top-bottom-point-7-rem;
// }

// .MuiInputBase-input.Mui-disabled {
//     background-color: globals(bg-colour-disabled-input) !important;
// }

// .MuiFormControl-root.MuiTextField-root {
//     @extend .class-width-100;
// }

// .MuiChip-root {
//     @extend .class-margin-right-point-5-rem;
//     @extend .class-margin-0-point-3-rem;

//     border-radius: 0 !important;
// }

// .border-1-px {
//     border: 0.0625rem solid;
// }

// .border-review {
//     @extend .border-1-px;
//     @extend .border-gray;
// }

// .border-icon {
//     border: 0.125rem solid;
// }

// .border-secondary-colour-icon,
// .border-selected-icon {
//     @extend .border-icon;

//     border-color: globals(secondary-colour);
// }

// .border-gray {
//     border-color: globals(border-colour-avatar);
// }

// .border-non-selected-icon {
//     @extend .border-icon;
//     @extend .border-gray;
// }

// .font-colour-error {
//     color: globals(font-colour-error);
// }

// .absolute-in-corner {
//     @extend .class-absolute;

//     top: 3.4%;
//     left: 21.7%;
// }

// span.MuiAutocomplete-tag {
//     border: 1px solid #0000003b !important;
//     padding: 0.4%;
//     margin: 0 3px;
//     height: 19.9px;
//     display: flex;
//     align-items: center;
// }

// .tournament-user-wrapper {
//     /* Controls size of dot */
//     background-image: radial-gradient(#3b4e57 5%, #001a29 0%);

//     /* Controls Spacing, First value will scale width, second, height between dots */
//     background-size: 2% 4%;
// }
