body {
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/0c/43/15/0c4315f0d65723472475a9147a5b7592.jpg);
  background-size: cover;
  overflow: hidden;
  height: 100%;
  font-size: 20px;
  font-family: Arial;
  align-items: stretch;
}

#root {
  height: 100vh;
  width: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.class-card-shadow {
  box-shadow: rgba(0, 0, 0, 0.5) -2px -2px 3px !important;
}

.class-disabled {
  pointer-events: none;
}

.class-gap {
  gap: 20px;
}

.class-min-height {
  min-height: 200px !important;
}

.deck-shadow:nth-child(1) {
  @extend .class-card-shadow;
}

.deck-wrapper {
  position: relative;
  margin: 40px;
  & > * {
    position: absolute;
    @extend .deck-shadow;
  }
}

.hand-area-wrapper {
  display: flex;
  @extend .class-gap;
  margin: 40px 80px;
  & > * {
    animation: scaling 400ms;
  }
}

@keyframes scaling {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.players-area-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 150px;
  gap: 40px;
  flex: 1;
  @extend .class-min-height;
}

.standoff-area-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend .class-gap;
  @extend .class-min-height;
}

.standoff-area-card-wrapper {
  display: flex;
  @extend .class-gap;
}

.standoff-area-text-wrapper {
  display: flex;
  @extend .class-gap;
}
